*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow: hidden;

}


input {
    outline: none;
    border: none;
    text-align: center;
    width: 100px;
    height: 34px;
    background-color: transparent
  }

nav{
    display: flex;
    font-family: 'Russo One', sans-serif;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    align-items: center;
    padding: 30px 30px;
}  


.logo{
    width: 140px;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in {
    opacity: 1;
}

main{
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(252, 252, 252);
   
}

.menu-items{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px 8px;
    border: 1px solid lightgray;
    gap: 20px;
}

.color-hex-wrapper{
    padding: 4px 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 5px;
}


#hexInput{
    width: 100%;
    border-radius: 5px;
    color: #ffffff
}

.color-icon-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.copy{
    display: none;
    width: 25px;
    margin-bottom: 16px;
}

.one-color{
    position: relative;  
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    height: 100%;
}

.one-color:hover .copy {
    display: block;
    cursor: pointer;
  }





.color-num-wrapper{
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 10px 8px 12px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: .8em;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.numHex{
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    border: 1px solid lightgray;
   

}

.color-scheme{
    width: 300px;
    height: 42px;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 14px;
    padding: 0 16px;
    border-radius: 5px;
    border-color: lightgray;
  }

  
  select::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 14px;
    pointer-events: none;
  }

  .color-picker-wrapper{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    padding: 8px 10px 8px 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: .8em;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    z-index: 0;

  }

  .color-picker-wrapper:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -5;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .color-picker-wrapper:active {
        color: transparent
    }
    
    .color-picker-wrapper:active:after {
        background: #fff;
    }
    
    .color-picker-wrapper:hover:before {
        opacity: 1;
    }
    
    .color-picker-wrapper:after {
        z-index: -3;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
  


  button{
      padding: 12px 8px;
      border-radius: 5px;
      border: 1px solid lightgray;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
  }

  button:hover{
    background-color: blue;
    color: white;
  }

  .copy-btn{
    width: 25px;
  }


  .random-btn{
    width: 80%;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.4s ease .2s;
    margin-bottom: 16px;
  }

  .random-btn:hover{
    background-color: blue;
    color: white;
    transition: all 0.3s ease 0s;
  }
 
  
  .colors{
      display:flex;
      justify-content: space-evenly;
      height: 75vh;
      
  }

 

.hero-container{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    text-align: center;
    gap: 20px;
    padding-bottom: 15px;
}


.hero-text{
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    margin-bottom: 16px;
   
}
.sm-hero-text{
    color: #464853;
    line-height: 1.4em;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    max-width: 400px;
}

.hero-gif{
    display: block;

}
.hex-container{
    font-size: 1.8em;
    padding-bottom: 26px;
}
      
.toast-notice {
        position: absolute;
        bottom: 200px;
        background-color: #333;
        color: #fff;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        white-space: nowrap;
        z-index: 3;
}
  

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: .5em;
    padding: 10px;
    color: lightslategray;
}
  


@media(max-width:1020px){
    
    .hero-container{
        margin: 20px;
            
    }

    footer{
        border: none;
    }

    .hero-text-wrapper{
        margin: 30px;
    }


}
@media(max-width:768px){
   nav{
    display: flex;
    justify-content: center;
   }

    .color-picker-wrapper{
        order: 0
    }
    .color-num-wrapper {
        order: 1
    }
    .color-hex-wrapper{
        order: 2
    }
    color-type{
        order: 3;
        display: block
    }
    #btn{
        order: 4;
        display: block;
     
    }

    .menu-items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .menu-item{
        margin: 8px 0;
    }

    .colors{
        display:block;
        flex-direction: column;
    }

    .one{
        height: 30%;
    }
    .hero-gif{
        width: 80%;
        height: 80%;
        margin-right: 30px;
        display:block;
    }
    .hero-text-wrapper{
      margin-right: 50px;
    }
}


  
  
  