*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


input {
    outline: none;
    border: none;
    text-align: center;
    width: 100px;
    height: 34px;
    background-color: transparent
  }

nav{
    display: flex;
    font-family: 'Russo One', sans-serif;
    height: 64px;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    align-items: center;
    padding: 0 20px;
}  

main{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.container{
    width: 100%;
    height: 70vh;
    background-color: rgb(252, 252, 252);
   
}

.color-selector{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 20px 8px;
    border: 1px solid lightgray;
   
}

.color-img{
    width: 100px;
    height: 34px;
    background-color: rgb(243, 240, 240);
    border: 1px solid black;
    outline: 4px solid lightgray;
}

.color-scheme{
    width: 300px;
    height: 42px;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 14px;
    padding: 0 16px;
    border-radius: 5px;
    
  }

  
  select::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 14px;
    pointer-events: none;
  }

  button{
      padding: 12px 8px;
      border-radius: 5px;
      border: 1px solid lightgray;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
  }
  .wide-btn{
    width: 80%;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.4s ease .2s;
  }

  .wide-btn:hover{
    background-color: blue;
    color: white;
    transition: all 0.3s ease 0s;
  }
 
  
  .colors{
      display:flex;
      justify-content: space-evenly;
      height: 100%;
      
  }

  .one{
      flex: 1;
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      width: 100%;
      height: 100%;
  }
 
.hex-container{
    background-color: whitesmoke;
    filter: drop-shadow(0 -23px 26px rgba(0, 0, 0, 0.30));
    padding: 20px;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

}
.hero-text-wrapper{
    max-width: 500px;
    text-align: center;
}
.hero-text{
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    padding-bottom: 30px;
}
.sm-hero-text{
    color: #464853;
    line-height: 1.4em;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    max-width: 400px;
}
footer{
    border-top: 1px solid lightgray;
}